<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="js/script.js"></script>
  </head>
  <body>
    <img src="images/logo.png" />
    <div id="input-div">
      <input
        type="text"
        spellcheck="false"
        autocomplete="off"
        id="input-value"
      />
      <button id="short-button">SHORT</button>
    </div>
    <div id="input-div" class="output">
      <input type="text" readonly id="output-box" />
      <button type="submit" id="coppied">
        <img src="images/clipboard.svg" class="clipboard" />
      </button>
    </div>
    <p id="notice">SOMETHING WENT WRONG</p>
  </body>
</html>
